<div class="dt-content">

                    <!-- Page Header -->
                    <div class="dt-page__header">
                        <h1 class="dt-page__title">{{user.firstName}} {{user.lastName}}</h1>
                    </div>
                    <!-- /page header -->
{{!-- product_title, product_description, requester_name, requester_position, 
requester_logo --}}
{{#each requests}}
<div class="row">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Product Requisition Alert!</h4>
        <p>You need to enter Your Email and Passcode to Verify the Requisition for:</p>
        <p>Product Name: <span style="color:black; text-transform:uppercase">{{{product_title this}}}</span></p>
        <p>Product Description: <span style="color:black; text-transform:uppercase">{{{product_description this}}}</span></p>
        <p>from: <span style="color:black; text-transform:uppercase">{{{requester_name this}}}</span></p>
        <p>positon: <span style="color:black; text-transform:uppercase">{{{requester_position this}}}</span></p>
        <p>Unit Requested For: <span style="color:black; text-transform:uppercase">{{this.unit}}</span></p>
        <form action="/verify_request" method="POST">
            <input type="hidden" name="request_id" value="{{this.id}}"/>
            <input type="text" required name="passcode" placeholder="Enter Passcode to Verify" />
            <button type="submit">Verify</button>
        </form>
    </div>
</div>
{{/each}}

                    <!-- Grid -->
                    <div class="row">

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/create_user"><h6 class="text-body text-uppercase mb-2">Create User</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">26</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="62" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-primary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>

                        
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <a href="/create_department"><h6 class="text-body text-uppercase mb-2">Create Department</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">6</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="100" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-warning"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <a href="/create_category"><h6 class="text-body text-uppercase mb-2">Create Category</h6></a> 
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">8</span>

                                      
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="85" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-success"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                     <a href="/product_options"><h6 class="text-body text-uppercase mb-2">Upload Product</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">87</span>

                                        <div class="d-flex align-items-center">
                                            <div class="trending-section font-weight-500 text-success mr-2">
                                                <span class="value">38%</span>
                                                <i class="icon icon-pointer-up"></i>
                                            </div>
                                            <span class="f-12">past month</span>
                                        </div>
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="90" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>

                           <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <h6 class="text-body text-uppercase mb-2">View Departments</h6>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">6</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="90" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>

                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <h6 class="text-body text-uppercase mb-2">View All Categories</h6>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">8</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="90" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <h6 class="text-body text-uppercase mb-2">View All Products</h6>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">87</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="90" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                         <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/incomplete_authentication"><h6 class="text-body text-uppercase mb-2">Incomplete Product verification</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">8</span>

                                        
                                    </div>

                                    <div class="dt-indicator-item__info mb-2" data-fill="90" data-max="100">
                                        <div class="dt-indicator-item__bar">
                                            <div class="dt-indicator-item__fill fill-pointer bg-secondary"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                          <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/request_product"><h6 class="text-body text-uppercase mb-2">Request for a Product</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                        <span class="display-4 font-weight-500 text-dark mr-2">26</span>
                                    </div>
                                </div>
                                <!-- /bard body -->
                            </div>
                            <!-- /card -->
                        </div>
                        <!-- /grid item -->

                    </div>
                    <!-- /grid -->

                    <!-- Grid -->
                    <div class="row">

                        <!-- Grid Item -->
                        <div class="col-xl-4 col-md-6 order-xl-1">

                            <!-- Card -->
                            <div class="dt-card bg-primary text-white">

                                <!-- Card Header -->
                                <div class="dt-card__header pt-6 px-6 mb-4">

                                    <!-- Card Heading -->
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title text-white">Your Activities</h3>
                                    </div>
                                    <!-- /card heading -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="dt-card__body px-6">
                                    <!-- Grid -->
                                    <div class="row no-gutters">
                                        <!-- Grid Item -->
                                        <div class="col-6 pr-2 border-right">
                                            <div class="display-1 font-weight-500 mb-3">
                                                ₦90k<span class="d-inline-block f-14">/month</span>
                                            </div>

                                            <ul class="pl-4 mb-0 dt-list-square">
                                                <li>Items Sold 22</li>
                                                <li>Departments Accessed - 4</li>
                                            </ul>
                                        </div>
                                        <!-- /grid item -->
                                        <!-- Grid Item -->
                                        <div class="col-6 text-center">
                                            <p>All Products Listing</p>
                                            <div class="mb-3">
                                                <a href="javascript:void(0)"
                                                   class="btn btn-secondary btn-xs text-uppercase">Upload New</a>
                                            </div>
                                            <a href="javascript:void(0)" class="text-white">View Category</a>
                                        </div>
                                        <!-- /grid item -->
                                    </div>
                                    <!-- /grid -->
                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-4 col-md-6 order-xl-3">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body p-6">
                                    <!-- Media -->
                                    <div class="media mb-3">

                                        <!-- Avatar -->
                                        <img class="img-fluid mr-6" src="/uploads/{{product.logo}}"
                                             alt="product" style="width:70px; height:70px;">
                                        <!-- /avatar -->

                                        <!-- Media Body -->
                                        <div class="media-body align-self-center">
                                            <div class="h2 mb-1">Latest Product</div>
                                            <span class="d-block text-light-gray">{{product.name}}</span>
                                        </div>
                                        <!-- /media body -->

                                    </div>
                                    <!-- /media -->

                                    <!-- Card text -->
                                    <p>{{product.description}}</p>
                                    <!-- /card text -->

                                    <!-- Button -->
                                    <a href="javascript:void(0)" class="card-link">Read More</a>
                                    <!-- /button -->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-4 order-xl-2">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Header -->
                                <div class="dt-card__header mb-0">

                                    <!-- Card Heading -->
                                    <div class="dt-card__heading">
                                        <h3 class="dt-card__title">927 Deals Closed</h3>
                                        <span class="text-light-gray f-12">This year</span>
                                    </div>
                                    <!-- /card heading -->

                                    <!-- Card Tools -->
                                    <div class="dt-card__tools align-self-start">
                                        <span class="dt-card__more font-weight-normal mr-1">
                                            <span class="dot-shape bg-secondary mr-2"></span>Queries
                                        </span>
                                        <span class="dt-card__more font-weight-normal">
                                            <span class="dot-shape bg-primary mr-2"></span>Closed Deals
                                        </span>
                                    </div>
                                    <!-- /card tools -->

                                </div>
                                <!-- /card header -->

                                <!-- Card Body -->
                                <div class="dt-card__body px-4 pb-1">

                                    <!-- Chart Body -->
                                    <div class="dt-chart__body my-n2">
                                        <div class="ct-line-chart stroke-w-1 stroke-dasharray-0 fill-opacity-0_5"></div>
                                    </div>
                                    <!-- /chart body -->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->





















                        <!-- Grid Item -->
                     
                            <!-- /grid -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        

                        </div>
                        <!-- /grid item -->

                    </div>
                    <!-- /grid -->

                </div>