<div class="dt-content">

                    <!-- Page Header -->
                    <div class="dt-page__header">
                        <h1 class="dt-page__title">{{user.firstName}} {{user.lastName}}</h1>
                    </div>
                    <!-- /page header -->
{{!-- product_title, product_description, requester_name, requester_position, 
requester_logo --}}
{{#each requests}}
<div class="row">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Product Requisition Alert!</h4>
        <p>You need to enter Your Email and Passcode to Verify the Requisition for:</p>
        <p>Product Name: <span style="color:black; text-transform:uppercase">{{{product_title this}}}</span></p>
        <p>Product Description: <span style="color:black; text-transform:uppercase">{{{product_description this}}}</span></p>
        <p>from: <span style="color:black; text-transform:uppercase">{{{requester_name this}}}</span></p>
        <p>positon: <span style="color:black; text-transform:uppercase">{{{requester_position this}}}</span></p>
        <p>Unit Requested For: <span style="color:black; text-transform:uppercase">{{this.unit}}</span></p>
        <form action="/verify_request" method="POST">
            <input type="hidden" name="request_id" value="{{this.id}}"/>
            <input type="text" required name="passcode" placeholder="Enter Passcode to Verify" />
            <button type="submit">Verify</button>
        </form>
    </div>
</div>
{{/each}}

                    <!-- Grid -->
                    <div class="row">

                        <!-- Grid Item -->
                        {{#if superAdmin}}
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/create_user"><h6 class="text-body text-uppercase mb-2">Create User</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                    <i class="icon icon-user" style="font-size:40px;"></i>
                                    </div>

                                    
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>
                      
                        
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <a href="/create_department"><h6 class="text-body text-uppercase mb-2">Create Department</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                <i class="icon icon-projects" style="font-size:40px;"></i>                                  
                                    </div>

                                  
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->

                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <a href="/create_category"><h6 class="text-body text-uppercase mb-2">Create Category</h6></a> 
                                    <div class="d-flex align-items-baseline mb-4">
                                         <i class="icon icon-task-manager" style="font-size:40px;"></i> 
                                     </div>

                                  
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->
{{/if}}
                        <!-- Grid Item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                     <a href="/product_options"><h6 class="text-body text-uppercase mb-2">Create Product</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                    <i class="icon icon-addnew" style="font-size:40px;"></i> 
                                    </div>

                                    
                                </div>
                                <!-- /bard body -->

                            </div>
                            <!-- /card -->

                        </div>

                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/view_all_department"> <h6 class="text-body text-uppercase mb-2">View All Department</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                         <i class="icon icon-message" style="font-size:40px;"></i>
                                    </div>

                                  
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>

                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/view_all_category"> <h6 class="text-body text-uppercase mb-2">View All Categories</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                         <i class="icon icon-message" style="font-size:40px;"></i>
                                    </div>

                                  
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                    <a href="/view_all_product"><h6 class="text-body text-uppercase mb-2">View All Products</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                         <i class="icon icon-mywallet" style="font-size:40px;"></i>
                                    </div>

                                  
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                         <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/incomplete_authentication"><h6 class="text-body text-uppercase mb-2">Incomplete Product verification</h6></a>
                                    <div class="d-flex align-items-baseline mb-4">
                                        <i class="icon icon-mycourse" style="font-size:40px;"></i>
                                    </div>

                                    
                                </div>
                                <!-- /bard body -->

                            </div>                           
                            <!-- /card -->
                        </div>
                          <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/request_product">
                                   <h6 class="text-body text-uppercase mb-2">Request for a Product</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                          <i class="icon icon-news" style="font-size:40px;"></i>
                                    </div>
                                </div>
                                <!-- /bard body -->
                            </div>
                            <!-- /card -->
                        </div>
                        <!-- /grid item -->
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/view_requests">
                                   <h6 class="text-body text-uppercase mb-2">View all Requisition</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                          <i class="icon icon-open-mail" style="font-size:40px;"></i>
                                    </div>
                                </div>
                                <!-- /bard body -->
                            </div>
                            <!-- /card -->
                        </div>
                    {{#if superAdmin}}
                        <div class="col-xl-3 col-sm-6 col-12">

                            <!-- Card -->
                            <div class="dt-card">

                                <!-- Card Body -->
                                <div class="dt-card__body px-5 py-4">
                                   <a href="/default_config">
                                   <h6 class="text-body text-uppercase mb-2">Default Configuration</h6></a>  
                                    <div class="d-flex align-items-baseline mb-4">
                                          <i class="icon icon-notification" style="font-size:40px;"></i>
                                    </div>
                                </div>
                                <!-- /bard body -->
                            </div>
                            <!-- /card -->
                        </div>


                    </div>
                    {{/if}}
                    <!-- /grid -->
</div>