
{{!-- /eventory/assets/images/download.jpg --}}

<div class="row" style="margin-top:50px; width:80%; margin:auto;">
<div class="col-md-2" >
<img src="/eventory/assets/images/download.jpg"style="width:150px;">
</div>

<div class="col-md-8">
    <center>
<h1 style="margin-bottom:2px;">TEACHERS REGISTRATION COUNCIL OF NIGERIA</h1>
<h3 style="margin-bottom:2px;">12 Oda Crescent, Off Aminu Kano Crescent</h3>
<h3 style="margin-bottom:2px;">Wuse II, Abuja-Nigeria</h3>
<h2 style="margin-bottom:2px;">STORE REQUISITION FORM</h2>
</center>
</div>

<div class="col-md-2" >
<img src="/eventory/assets/images/trcn.png"style="width:150px;">
</div>
</div>


<div style="margin-top:50px; width:80%; margin:auto;">
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Product Name</th>
    <th>description</th>
    <th>Name of User</th>
    <th>Position of User</th>
    <th>Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>{{{product_title data.requests}}}</td>
    <td>{{{product_description data.requests}}}</td>
    <td>{{{requester_name data.requests}}}</td>
    <td>{{{requester_position data.requests}}}</td>
    <td>{{data.requests.unit}}</td>
    </tr>
   
  </tbody>
</table>
</div>
























