
{{!-- /eventory/assets/images/download.jpg --}}

<div class="row" style="margin-top:50px; width:80%; margin:auto;">
<div class="col-md-2" >
<img src="/eventory/assets/images/download.jpg"style="width:150px;">
</div>

<div class="col-md-8">
    <center>
<h1 style="margin-bottom:2px;">TEACHERS REGISTRATION COUNCIL OF NIGERIA</h1>
<h3 style="margin-bottom:2px;">12 Oda Crescent, Off Aminu Kano Crescent</h3>
<h3 style="margin-bottom:2px;">Wuse II, Abuja-Nigeria</h3>
<h2 style="margin-bottom:2px;">STORES RECEIPT VOUCHER</h2>
</center>
</div>

{{!-- <div class="col-md-2" >
<img src="/eventory/assets/images/trcn.png"style="width:150px;">
</div>
</div> --}}
<div class="col-md-2" >
<img src="/eventory/assets/images/trcn.png"style="width:150px;">
<h1>SRV Number: TRCN/SRV/000{{binCard.siv_number}}</h1>
</div>

<div style="margin-top:50px; width:80%; margin:auto;">
<table class="table table-bordered">
  <thead>
    <tr>
    
      <th scope="col">Description</th>
      <th scope="col">Category code</th>
      <th scope="col">Unit</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Value(₦)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td>{{product.description}}</td>
      <td>{{{category_code product}}}</td>
      <td>{{product.unit}}</td>
      <td>{{product.unit}}</td>
        <td>{{product.price}}</td>
      <td>{{value}}</td>
    </tr>
   
  </tbody>
</table>

<table class="table table-bordered" style="margin-top:100px;">
  <thead>
    <tr>
    <th scope="col" style="width:400px;">Name</th>
      
      <th scope="col">Recievers Signature</th>
      <th scope="col">Date</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td></td>
      <td></td>
      <td></td>
      
   
  </tbody>
</table>
</div>